<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="Rahman_Educational_Service.Properties.Settings.Rahman_Educational_Service_ConString" connectionString="server=localhost;user id=root;password=1234;database=rahman_educational_service" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
 
</configuration>